<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>

  <title>Home</title>
  <body>
    <%- include partials/nav.ejs %>
    <p>This is homepage</p>
   <script src="../routes/index.js"></script>
  <%- include partials/foot.ejs %>
  </body>
</html>