<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>
  <title>View Blogs</title>
  <body>
    <%- include partials/nav.ejs %>
      <h1>Select the Blog to View</h1>
      <hr/>
      <ul id="view_blogs">
          <li>First</li>
          <li>Second</li>
          <li>Third</li>
          <li>Fourth</li>
          <li>Fifth</li>
          <li>Sixth</li>
          <li>Seventh</li>
      </ul>
   <script src="../routes/index.js"></script>
  <%- include partials/foot.ejs %>
  </body>
</html>