<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>
  <title>About</title>
  <body>
    <%- include partials/nav.ejs %>
    <p>StudyInUniversity Application: Personal project of Navdeep Singh Randhawa.</p>
    <p>Contact the team: Fill up the following form. </p>
  <%- include partials/foot.ejs %>
  </body>
</html>