<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>
  <title>Login</title>
  <body>
    <%- include partials/nav.ejs %>
    <p>This is login form</p>
  <%- include partials/foot.ejs %>
  </body>
</html>